.body {
  padding: 0 17px;
  flex-direction: row;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.address {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  .sendAddress {
    display: flex;
    justify-content: center;
    align-items: center;

    .send {
      margin-right: 10px;
    }
  }

  .newAddress {
    all: unset;
    border: $border-color solid 1px;
    display: flex;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: map-get($font-weight, bold);

    .plus {

    }

    .new {
      margin-right: 10px;
    }
  }
}

.text {
  padding: 10px 0;
}

label {
  display: flex;
  flex-direction: row;
  input {
  margin-left: 10px;
  }
}