.body {
  padding-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $side_margin;

  button {
    //display: none;
    border: 0;
    background-color: $btn-backcolor;
    border-radius: 100px;
    color: $header-btn-color;
    padding: 6px 15px;
    font-family: IRANSans;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
  }

  div {
    padding: 10px;
  }
}

.first {
  display: flex;
  align-items: center;

  .basalam {
    margin-right: 5px;
  }

  .arrow {
    margin-top: 5px;
    margin-right: 10px;
  }

}

.second {
  display: flex;
  position: relative;

  .numberCart {
    width: 18px;
    height: 18px;
    border-radius: 30px;
    background-color: $primary-color;
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 9px;
    left: -4px;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  border: $border-color solid 1px;
  border-radius: 100px;
  width: 85%;
  padding: 7px 6px;
  margin: 0 auto;

  .magnifier {
    margin-left: 10px;
  }

  input {
    all: unset;
    width: 90%;

    &::placeholder {
      font-size: 12px;
    }

  }
}

