.body {
  margin-top: 10px;
  color: black;

  a {
    all: unset;
    cursor: pointer;
  }

  .active {
    color: #DF3856;
    font-weight: bold;
  }

  ul {
    all: unset;
    display: flex;
    justify-content: space-around;
  }

  li {
    all: unset;
    padding: 10px;
    margin-right: 12px;
  }

  .line {
    background-color: #DFDFDF !important;
    height: 2px;
    width: 100%;
    display: flex;
    //direction: ltr;
  }

  .inline {
    background-color: #DF3856 !important;
    height: 2px;
    width: 50%;
  }

}