.body {
  padding: 15px 0;
  position: sticky;
  bottom: 0;
  margin-top: 15px;

  .shadow {
    box-shadow: 0px -3px 5px -3px #888;
    overflow: auto;
    background-attachment: local, local, scroll, scroll;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.continue--buy {
  background-color: $primary-color;
  color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.buy {
  padding: 0 10px;
  background-color: $primary-color;
  font-weight: map-get($font-weight, bold);

  span {
    background-color: $primary-color;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}