.body {
  padding: 15px 0;
  position:sticky;
  bottom:0;
  min-height:40px;
  max-width: 360px;
  width:100%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.continue--buy {
  background-color: $primary-color;
  color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.buy {
  padding: 0 10px;
  background-color: $primary-color;
  span {
    background-color: $primary-color;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}