$app-backcolor: #eee;
$primary-color: #DF3856 !important;
$info_background_color: #DFF5F1 !important;
$elements_background: white !important;
$btn-backcolor: #3E3E3E !important;
$color-info: #00786C;
$header-btn-color: #FAFAFA;
$save-list-color: #858585;
$save-list-border-color: #7D7D7D;

$font-size: (
        "normal": 14px,
        "small": 0.8em,
        "light": 12px,
        "heavy": 16px,
);

$font-weight: (
        "normal": normal,
        "bold": bold,
);
