// variables
$app-backcolor: #eee;
$primary-color: #DF3856;
$info_background_color: #DFF5F1;
$nav_backcolor: #DFDFDF;
$elements_background: white;
$btn-backcolor: #3E3E3E;
$color-info: #00786C;
$header-btn-color: #FAFAFA;
$save-list-color: #858585;
$save-list-border-color: #7D7D7D;
$side_margin: 0 15px;


$font-size: (
        "normal": 14px,
        "small": 0.8em,
        "light": 12px,
        "heavy": 16px,
);

$font-weight: (
        "normal": normal,
        "bold": bold,
        "200": 200,
        "400": 400,
        "600": 600,
        "800": 800,
        "900": 900
);
