* {
  font-family: IRANSans;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

#app {
  font-weight: 400;
  margin: auto;
  min-width: 320px;
  max-width: 360px;
  font-size: 14px;
  direction: rtl;
}

*:not(body) {
  background-color: white;
}

.text-small {
  font-size: 0.8em;
}

